autotools/install-sh
autotools/test-driver
config.status
autotools/missing
autom4te.cache/
aclocal.m4
**/Makefile.in
configure
config.log
**/Makefile
**/Makefile.in
**/*.bak
provides
extra-files
\#*
*.tar.gz
resources
**/*.pm
config/*.xml
config/api.conf
docker/*.conf
docker/*.xml
docker/*.env
docker/setup.sql
